<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content="20">
		<title>费用折线图</title>
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<script src='/static/ichart.1.2.1.min.js'></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


		<script type="text/javascript">
		$(function(){
			var flow={{ flow|safe }};
			var data = [
			         	{
			         		name : 'PV',
			         		value:flow,
			         		color:'#ec4646',
			         		line_width:2
			         	}
			         ];

			var labels = {{ labels|safe }};

			var chart = new iChart.LineBasic2D({
				render : 'canvasDiv',
				data: data,
				align:'center',
				//title : {
				//	text:'成本',
				//	font : '微软雅黑',
				//	fontsize:24,
				//	color:'#000000'
				//},
				//subtitle : {
				//	text:'费用使用情况',
				//	font : '微软雅黑',
				//	color:'#00000'
				//},
				footnote : {
					text:'网游',
					font : '微软雅黑',
					fontsize:11,
					fontweight:600,
					padding:'0 28',
					color:'#000000'
				},
				width : 1000,
				height : 500,
				shadow:true,
				shadow_color : '#202020',
				shadow_blur : 8,
				shadow_offsetx : 0,
				shadow_offsety : 0,
				background_color:'#ffffff',
				tip:{
					enable:true,
					shadow:true,
					listeners:{
						 //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
						parseText:function(tip,name,value,text,i){
							return "<span style='color:#005268;font-size:12px;'>"+labels[i]+" 费用为:<br/>"+
							"</span><span style='color:#005268;font-size:20px;'>"+value+"元</span>";
						}
					}
				},
				crosshair:{
					enable:true,
					line_color:'#ec4646'
				},
				sub_option : {
					smooth : true,
					label:false,
					hollow:false,
					hollow_inside:false,
					point_size:8
				},
				coordinate:{
					width:840,
					height:460,
					striped_factor : 0.18,
					grid_color:'#4e4e4e',
					axis:{
						color:'#252525',
						width:[0,0,4,4]
					},
					scale:[{
						 position:'left',
						 start_scale:0,
						 end_scale:500000,
						 scale_space:100000,
						 scale_size:2,
						 scale_enable : false,
						 label : {color:'#000000',font : '微软雅黑',fontsize:11,fontweight:600},
						 scale_color:'#9f9f9f'
					},{
						 position:'bottom',
						 label : {color:'#000000',font : '微软雅黑',fontsize:11,fontweight:600},
						 label : {color:'#000000',font : '微软雅黑',fontsize:11,fontweight:600},
						 scale_enable : false,
						 labels:labels
					}]
				}
			});
			//利用自定义组件构造左侧说明文本
			chart.plugin(new iChart.Custom({
					drawFn:function(){
						//计算位置
						var coo = chart.getCoordinate(),
							x = coo.get('originx'),
							y = coo.get('originy'),
							w = coo.width,
							h = coo.height;
						//在左上侧的位置，渲染一个单位的文字
						chart.target.textAlign('start')
						.textBaseline('bottom')
						.textFont('600 11px 微软雅黑')
						.fillText('费用(元)',x-40,y-12,false,'#9d987a')
						.textBaseline('top')
						.fillText('(时间)',x+w+12,y+h+10,false,'#9d987a');

					}
			}));
		//开始画图
		chart.draw();
	});
	</script>
</head>




<body style='background-color:#fcfcfc;'>



<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">netgame</h3>
</div>
<div class="panel-body">


 <div id="content" class="row-fluid">
        <div class="col-md-2 well">
     		<ul class="nav nav-pills nav-stacked">
         		<li class="active"><a href="#">游戏项目</a></li>
  		 		<li><a href="#">乱斗之王</a></li>
		 		<li><a href="#">苍穹变</a></li>
   				<li><a href="#">坦克之站</a></li>
   				<li><a href="#">地铁跑酷</a></li>
   				<li><a href="#">纪念碑谷</a></li>
			</ul>
        </div>

        <div class="col-md-10 well" >
			 <h2>费用使用详情</h2>
			<div id='canvasDiv' style="float: left"></div>>

        </div>
</div>

</div>
</div>

</body>
</html>